<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="programList" type="System.Configuration.NameValueSectionHandler"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!--App Configuration-->
		<add key="ExecutionTime" value="08:45"/>
		<add key="ShortTimeout" value="5000"/>
		<add key="LongTimeout" value="28800000"/>
		<add key="WeekendTimeout" value="3600000"/>
	</appSettings>
	<log4net>
		<logger name="File">
			<level value="All"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</logger>
		<root>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="C:\VS Projects\AcmeAutomation\AcmeAutomation_Logs\"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="false"/>
			<datePattern value="MM-dd-yyyy'.log'"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date{MMMM dd, yyyy hh:mm:ss,fff tt} (%rms) %-5p [%c] &lt;%M&gt; - %m - Thread: %t line: %L %n"/>
			</layout>
		</appender>
	</log4net>
	<!--Program List-->
	<programList>
		<add key="VisualStudioPath" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\devenv.exe"/>
		<add key="SQLServerPath" value="C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\Common7\IDE\Ssms.exe"/>
	</programList>
</configuration>